server/node_modules
server/public/csse_covid_19_time_series/
react-client/node_modules
react-client/.env
react-client/build/*
server/nohup.out
react-client/package-lock.json
react-client/package-lock.json
native_sdk41/
