.App {text-align: center;width:100%;margin:0 auto;}
#country {float:left; }
#country {margin-top:10px; margin-left:5px}

.linkupdate{cursor: pointer; float:right}
#totals {margin-top:10px}
#myChart{max-height:650px}
.left{float:left}
.clear{clear:both}
.header{position: fixed; height:auto; background-color: #ffffff; width:100%; border-bottom: 1px solid gray;}
.chart-title{margin-top:30px}
.chart-section{width:95%; margin: 0 auto; padding-top: 140px;}

.btn{margin-left:5px}