.App {text-align: center;width:100%;margin:0 auto;}
#country, .shortcut-coutries {float:left}
.shortcut-coutries{padding-left: 5px; padding-right: 5px; cursor: pointer;}
.linkupdate{cursor: pointer; float:right}
#totals{clear:both}
#myChart{max-height:650px}
.left{float:left}
.clear{clear:both}
.header{position: fixed; height:auto; background-color: #ffffff; width:100%; border-bottom: 1px solid gray;}
.chart-title{margin-top:30px}
.chart-section{width:95%; margin: 0 auto; padding-top: 90px;}