.App {
  text-align: center;
  width:100%;
  margin:0 auto;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#country, .shortcut-coutries {float:left}
.shortcut-coutries{padding-left: 5px; padding-right: 5px; cursor: pointer;}
.linkupdate{cursor: pointer; float:right}
#totals{clear:both}
#myChart{max-height:650px}
.left{float:left}
.clear{clear:both}
.header{position: fixed; height:auto; background-color: #ffffff; width:100%; border-bottom: 1px solid gray;}
.chart-title{margin-top:70px}
.chart-section{width:95%; margin: 0 auto;}